$class = slider

.{slider}
	background $bg_bottom_color
	position relative

	&-svg-photo
		margin 0 auto
		position relative

		&__wrap
			text-align center
			height 0

	&-line
		position absolute
		top -15px
		left 0
		right 0
		height 40px
		background $bg_top_color url(slider/slider-line.svg)
		background-size 100% 100%

	&__content
		margin 140px auto 100px