// http://font.in.ua/family/proxima-nova
// https://everythingfonts.com/otf-to-woff

@font-face{
	font-family: 'ProximaNova Regular';
	//src: url('proximanova/proximanova-regular.woff') format('woff'),url('fonts/proximanova/proximanova-regular.ttf') format('truetype');
	src: url('fonts/proximanova/proximanova-regular.woff') format('woff');
	font-weight:bold;
}
@font-face{
	font-family: 'ProximaNova Light';
	src: url('fonts/proximanova/proximanova-light.woff') format('woff');
	font-weight:bold;
}
@font-face{
	font-family: 'ProximaNova Bold';
	src: url('fonts/proximanova/proximanova-bold.woff') format('woff');
	font-weight:bold;
}
@font-face{
	font-family: 'ProximaNova Semibold';
	src: url('fonts/proximanova/proximanova-semibold.woff') format('woff');
}
@font-face{
	font-family: 'ProximaNova RegItalic';
	src: url('fonts/proximanova/proximanova-regitalic.woff') format('woff');
	font-style italic
}